<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="navbar-brand" th:text="${marketName}"></a>
    <h2>재고변경페이지</h2>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제품이름</th>
                <th>옵션이름</th>
                <th>옵션가격</th>
                <th>현재재고</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="o : ${list}">
                <th scope="row" th:text="${oStat.count}"></th>
                <td th:text="${o.productName}">Mark</td>
                <td th:text="${o.optionName}">Otto</td>
                <td th:text="${o.optionPrice}">@mdo</td>
                <td th:text="${o.stock} ?: _">0</td>
            </tr>
        </tbody>
    </table>
</body>
</html>