<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {text-align: center;}
        #input_form_table {margin: 0 auto; border-collapse: collapse;}
        #input_form_table input {width: 70%;}
        #input_form_table td {padding: 10px;}
    </style>
</head>
<body>
    <h1>재고 상세정보</h1>
    <thead>
        <tr>
            <h2>
                <td th:text ="${market_stock.marketName}"></td>
            </h2>
        </tr>
    </thead>
    <tbody>
        <form th:action method="post">
        <!-- <form th:object="${market_stock}" action="/update" method="post"> -->
                <tr>
                    <td>제품이름 &nbsp;</td>
                    <strong><td th:text ="${market_stock.productName}"></td><br></strong>
                </tr>
                <tr>
                    <td>옵션이름 &nbsp;</td>
                    <strong><td th:text ="${market_stock.optionName}"></td><br></strong>
                </tr>
                <tr>
                    <td>옵션가격   &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                    <strong><td th:text ="${market_stock.optionPrice}"></td><br></strong>
                </tr>
                <tr>
                    <td>현재재고</td>
                    <input type="text" th:value="${market_stock.stock}" name="stock">
                    <span th:if="${param.updated}" th:text="수정됨" style="color:red"></span>
                    <br>
                </tr>
                <tr>
                    <td colspan="2">
                        <button style="background-color:dodgerblue;border-color: dodgerblue; border-radius: 15%; color: white;">변경하기</button>
                        <a th:href="@{/admin/local/{seq}(seq=${marketSeq})}">메인으로</a>
                    </td>
                </tr>
        </form>
    </tbody>
</body>
</html>